body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background: rgb(4,21,48);
  background: linear-gradient(125deg, rgba(4,21,48,1) 0%, rgb(11, 146, 127) 32%, rgba(12,140,115,1) 60%, rgba(4,21,48,1) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1 {
  text-align: center; 
  margin-bottom: 20px;
  color: white;
}

p{
  color: #dadada;
  font-size: 14px;
  margin-bottom: 5px;
  position: absolute;
  left: 34%;
  top: 19%;
}

.candidatos {
  color: #ffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 35px;
}

.candidatos div {
  width: 350px;
  height: 500px;
  background-color: #3f3f3f;
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
}

.candidatos img {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%); 
  width: 141px;
  height: 188px;
  border-radius: 10px;
}

.candidatos #facebook, .candidatos #instagram {
  position: absolute;
  width: 60px;
  height: 60px;
  
}

.candidatos #instagram {
  top: 82%;
  left: 40%;
}

.candidatos #uniqueIcon {
  width: 70px;
  height: 70px;
  top: 82%;
  left: 49%;
}

.candidatos #facebook {
  top: 82%;
  left: 60%;
}

.candidatos #facebook:hover , #instagram:hover{
  box-shadow: 0 0 2px #fffeed;
}



.candidatos #nomeUrna {
  position: absolute;
  margin-top: 10px;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 900;
  padding-left: 5%;       
  padding-right: 5%;      
  width: 90%;             
  text-align: center;
  overflow: hidden;       
  text-overflow: ellipsis; 
  font-size: 17.5px;
  word-wrap: break-word;
}

.candidatos #numeroUrna {
  margin-top: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  transform: translateX(-50%); 
  font-weight: 900;
}

.candidatos #nomeCompleto {
  margin-top: 17px;
  position: absolute;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  top: 60%;
  left: 50%;
  font-size: 15px;
  transform: translateX(-50%); 
  font-weight: 400;
}

.candidatos #cidade {
  margin-top: 20px;
  position: absolute;
  top: 64%;
  left: 50%;
  font-size: 15px;
  transform: translateX(-50%);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 95%; 
}

.candidatos #partidoSigla {
  position: absolute;
  text-align: center;
  top: 73%;
  left: 50%;
  font-size: 15px;
  transform: translateX(-50%);
  font-weight: 400;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
}

.search {
  top: 22%;
  left: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  transform: translateX(-50%);
}

#barraPesquisa {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
  width: 350px;
}

#barraPesquisa:focus {
  border-color: #99caff;
}

#iconePesquisa {
  position: relative;
  margin-bottom: 20px;
  background-color: #ffffff00;
  border: none;
  right: 10%;
}


footer {
  color: rgba(255, 255, 255, 0.842);
  background-color: #0f665ac0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}


@media (max-width: 768px) {
  .candidatos {
    flex-direction: column;
    align-items: center;
  }

  .candidatos div {
    width: 90%;
    margin-bottom: 20px;
  }

  footer {
    font-size: 10px; 
    padding: 5px; 
    position: relative;
    margin-top: auto;
  }
}
